<%= form_with model: report do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% report.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% report.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class = "row">
    <div class = "form-group col-md-3">
      <%= form.label :student %><br>
      <%= form.select :user_id, User.pluck(:first_name, :id) %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>