<%= form_with model: report do |form| %>
  <div class="field form-group">
    <% form.label :title %><br>
    <%= form.text_field :title, class: "form-control", placeholder:"title", autofocus: true %>
    <% report.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field form-group">
    <% form.label :description %><br>
    <%= form.text_area :description, class: "form-control", placeholder:"description", autofocus: true %>
    <% report.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br/>

  <div class="col-md-6 form-group">
    <%= form.label :student %><br>
    <%= form.collection_select :user_id, User.order(:first_name), :id, :last_name, {}, class: "form-control", autofocus: true  %>
  </div>

  <br/>
  <div>
    <%= form.submit "Create", class: 'btn btn-primary' %>
  </div>
<% end %>