<h1>Lab reports</h1>

<ul>
  <% @reports.each do |report| %>
    <div class="card">
      <h2 class="card-title"><center><%= report.title %></h2></center>

      <div class="mb-3 user">
        <h5>
          <%= report.user.first_name %>
          <%= report.user.last_name %>
          <%= report.user.email %>
        </h5>
      </div>

      <div class="form-control mb-3">
        <center><h2><%= report.description %></h2></center>
      </div>

      <div class="mb-3">
        <% if report.grade %>
          <h3>Mark: <%= report.grade %></h3>
        <% else %>
          <% if current_user.has_role? :teacher %>
            <li><%= link_to "Add mark", add_mark_path(report), class: 'btn btn-primary' %></li>
          <% else %>
            <h3><%= "No grade yet" %></h3>
          <% end %>
        <% end %>

        <% if current_user.has_role? :teacher %>
          <li><%= link_to "Remove", lab_report_path(report), class: 'btn btn-danger', data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %></li>
        <% end %>

        <% if current_user == report.user %>
          <li><%= link_to "Edit lab report", edit_lab_report_path(report), class: 'btn btn-primary' %></li>
        <% end %>
      </div>
    </div>
    </br>
  <% end %>
</ul>