<h1>New user</h1>

<%= form_with model: @user do |form| %>
  <div>
    <% form.label :first_name %><br>
    <%= form.text_field :first_name, class: "form-control", placeholder:"first name", autofocus: true  %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <% form.label :last_name %><br>
    <%= form.text_area :last_name, class: "form-control", placeholder:"last name", autofocus: true  %>
    <% @user.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <% form.label :email %><br>
    <%= form.text_area :email, class: "form-control", placeholder:"email", autofocus: true  %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br/>
  <div>
    <%= form.submit "Create", class: 'btn btn-primary' %>
  </div>
<% end %>